DATABASE_URL=postgresql://postgres:19112006@localhost:5432/parking_db

MQTT_BROKER_URL=7bddb85eebae4ea097df758c60859946.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=smart_parking_project
MQTT_PASSWORD= Parking2026!